.info {
  width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info__menu {
  display: none;
  background-image: url(../../images/menu-icon.svg);
  height: 33px;
  width: 50px;
  background-repeat: no-repeat;
  background-size: contain;
}

.info__logo {
  width: 201px;
  height: 22px;
}

.info__links {
  width: 262px;
  display: flex;
  justify-content: space-between;
}

.info__links_link {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  text-decoration: none;
  transition: .3s;
}

.info__links_link:hover {
  opacity: .8;
}

.info__call-btn {
  background-color: #fff;
  height: 56px;
  width: 227px;
  border: none;
  outline: none;
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
  padding: 16px 25px;
  cursor: pointer;
  transition: .3s;
}

.info__call-btn:hover {
  opacity: .8;
}

.info__call-btn_icon {
  background-image: url(../../images/call-btn.svg);
  width: 24px;
  height: 24px;
  background-size: cover;
}

.info__call-btn_number {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 150%;
  text-transform: uppercase;
  color: #000;
  margin: 0;
}

@media screen and (min-width: 744px) and (max-width: 1599px) {
  .info {
    width: 714px;
    height: 50px;
  }

  .info__links {
    display: none;
  }

  .info__menu {
    display: block;
  }

  .info__call-btn {
    height: 50px;
    width: 212px;
    padding: 13px 20px;
  }

  .info__call-btn_icon {
    width: 21px;
    height: 21px;
  }

  .info__menu_footer {
    display: none;
  }
}

@media screen and (min-width: 375px) and (max-width: 744px) {
  .info {
    width: 345px;
  }

  .info_footer {
    flex-direction: column;
    align-items: flex-start;
  }

  .info__links {
    display: none;
  }

  .info__menu {
    display: block;
  }

  .info__call-btn {
    display: none;
  }

  .info__call-btn_footer {
    display: flex;
    margin-top: 25px;
    height: 50px;
    width: 212px;
    padding: 13px 20px;
  }

  .info__call-btn_icon {
    width: 21px;
    height: 21px;
  }

  .info__menu_footer {
    display: none;
  }
}