.page {
  background: #262626;
  min-height: 100vh;
  font-family: 'Open Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.main-container {
  background-image: url(../../images/main-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 28px 0 119px;
  width: 100%;
}


.footer {
  padding: 100px 0;
}


@media screen and (min-width: 375px) and (max-width: 744px) {
  .main-container {
    padding: 40px 0 80px;
  }

  .footer {
    padding: 90px 0;
  }
}